APP_ENV=development/production
# .env
# This file contains sensitive information and should NOT be committed to version control.
# Add it to your .gitignore file.

# PostgreSQL Credentials
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=Spear


# Database Configuration
DB_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# Email Configuration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=spearfreshfish@gmail.com
#16-character Google App Password
SENDER_PASSWORD=

FRONTEND_URL=http://localhost:3000